*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    overflow-x: hidden;
}

header {
    grid-area: he;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    grid-area: na;
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 0px;
    right: 0px;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100px;
    height: 100px;
}

#section_1_hem {
    grid-area: s1;
    background-image: url(../img/brick_wall_background.jpg);
    background-size: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#section_2 {
    grid-area: s2;
    background-image: url(../img/party_background.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    grid-area: fo;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
}

#grid_wrapper_hem {
    display: grid;
    grid-template-columns: minmax(300px, 1fr) 100px;
    grid-template-rows: 100px 550px 300px 360px;
    grid-template-areas: 
        "he na"
        "s1 s1"
        "s2 s2"
        "fo fo";
}

h1 {
    color: rgb(224, 224, 224);
    font-size: 45px;
    font-family: 'Tiro Devanagari Hindi', serif;

}

#daily_artist_article {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 500px;
    align-items: center; 
}

.artist_article {
    display: flex;
    flex-direction: row;
    height: 300px;
    align-items: center;
    background: rgba(0, 0, 0, 0.3);
    border: solid rgb(224, 224, 224);
    border-left: 0;
    border-right: 0;
}

#daily_artist_image {
    height: 300px;
    width: 354px;
    /* border: solid rgb(224, 224, 224);
    border-width: 1px; */
}

h2 {
    color: rgb(224, 224, 224);
    font-size: 23px;
    padding-top: 20px;
    padding-bottom: 20px;
}

h3 {
    color: rgb(224, 224, 224);
    font-size: 25px;
    padding-top: 15px;
    padding-bottom: 5px;
}

#daily_artist_info {
    color: rgb(224, 224, 224);
    font-size: 15px;  
    padding: 10px;
    border: solid rgb(224, 224, 224);
    border-width: 1px;
    border-radius: 8px; 
    background: rgba(0, 0, 0, 0.8);
    margin: 15px;
}

.artist_info {
    color: rgb(224, 224, 224);
    font-size: 15px;  
    padding: 10px;
    border-width: 1px;
    border-radius: 8px; 
}

.footer_article {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid rgb(224, 224, 224);
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    height: 120px;
    width: 100%;
}

h5 {
    font-size: 20px;
    padding-top: 10px;
    color: rgb(224, 224, 224);
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
footer article p {
    font-size: 15px;
    padding: 15px;
    color: rgb(224, 224, 224);
}

#section_2_rubrik {
    font-size: 28px;
    padding-top: 30px;
    color: rgb(224, 224, 224);
}

#section_2_text {
    font-size: 15px;
    padding: 25px;   
    color: rgb(224, 224, 224); 
}



#nav_links {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 250px;
    background-color: rgb(0, 0, 0);
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 100px;
    right: -250px;
    transition: all 0.8s;
}

#nav_links li {
    list-style: none;
}

#nav_links a {
    text-decoration: none;
    font-size: 24px;
    color: rgb(224, 224, 224);
    display: flex;
    width: 250px;
    justify-content: center;
    padding: 25px;
}

#nav_links a:hover {
    background-color: rgb(157, 51, 176);
}

#burger {
    cursor: pointer;
}

#burger div {
    width: 50px;
    height: 5px;
    background-color: rgb(224, 224, 224);
    border-radius: 10px;
    margin: 5px;
    transition: all 0.4s;
}

#line_1 {
    transform: rotate(0deg) translate(1px, 6px);
}

#line_2 {
    transform: rotate(-90deg) translate(2px, 0px);
}

.burger_toggle #line_1 {
    transform: rotate(405deg) translate(3px, 4px);
}

.burger_toggle #line_2 {
    transform: rotate(-405deg) translate(3px, -4px);
}

.nav_active {
    transform: translateX(-250px);
}

#grid_wrapper_artister {
    display: grid;
    grid-template-columns: minmax(300px, 1fr) 100px;
    grid-template-rows: 100px 1800px 360px;
    grid-template-areas: 
        "he na"
        "s1 s1"
        "fo fo";
}

#section_1_artister {
    grid-area: s1;
    background-image: url(../img/brick_wall_background.jpg);
    background-size: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.artist_lista {
    display: flex;
    flex-direction: column;
}

img {
    border: solid rgb(224, 224, 224);
    border-width: 1px;
    height: 200px;
    width: 236px;
}

.artist_half {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#grid_wrapper_hitta_hit {
    display: grid;
    grid-template-columns: minmax(300px, 1fr) 100px;
    grid-template-rows: 100px 1100px 360px;
    grid-template-areas: 
        "he na"
        "s1 s1"
        "fo fo";
}


#section_1_hitta_hit {
    grid-area: s1;
    background-image: url(../img/brick_wall_background.jpg);
    background-size: 100%;
    display: flex; 
    flex-direction: column;
}

#map_picture {
    width: 400px;
    height: 230px;
    border: 1px;
    border: solid rgb(224, 224, 224);
}

#map_picture:hover {
    box-shadow: 1px 0px 8px 8px rgb(91, 36, 102);
    transform: scale(1.1);
    transition: 1s;
}

#map_article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#map_article h2 {
    font-size: 30px;
    padding: 50px;
}

#hitta_hit_info {
    display: flex;
    flex-direction: column;
}

.hitta_hit_info_article {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.hitta_hit_info_article p {
    color: rgb(224, 224, 224);
    font-size: 18px;
    border: solid rgb(224, 224, 224);
    border-width: 1px;
    border-radius: 8px; 
    background: rgba(0, 0, 0, 0.8);
    padding: 15px;
}

#grid_wrapper_erbjudanden {
    display: grid;
    grid-template-columns: minmax(300px, 1fr) 100px;
    grid-template-rows: 100px 2000px 360px;
    grid-template-areas: 
        "he na"
        "s1 s1"
        "fo fo";
}

#section_1_erbjudanden {
    grid-area: s1;
    background-image: url(../img/brick_wall_background.jpg);
    background-size: 100%;
    display: flex; 
    flex-direction: column;   
    justify-content: space-evenly; 
    align-items: center;
}

#section_1_erbjudanden h2 {
    font-size: 37px;
}

#burger_erbjudande {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

#shake_erbjudande {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.erbjudande_img {
    width: 300px;
    height: 500px;
}

.erbjudande_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
}

.erbjudande_info h3 {
    font-size: 30px;
    padding: 20px;
}

.erbjudande_info_text {
    color: rgb(224, 224, 224);
    font-size: 18px;
    border: solid rgb(224, 224, 224);
    border-width: 1px;
    border-radius: 8px; 
    background: rgba(0, 0, 0, 0.8);
    padding: 15px;
    margin: 10px;
}





@media screen and (min-width: 800px) {
    
    #burger {
        display: none;
    }

    #grid_wrapper_hem {
        grid-template-rows: 100px 78px 550px 300px 150px;
        grid-template-areas: 
        "he he"
        "na na"
        "s1 s1"
        "s2 s2"
        "fo fo";
    }

    #nav_links {
        display: flex;
        flex-direction: row;
        height: 78px;
        width: 100vw;
        right: 0px;

        
    }

    .nav_active {
        transform: translateX(0px);
    }

    footer {
        flex-direction: row;
    }

    .footer_article {
        height: 150px;
        border-top-width: 2px;
        border-bottom-width: 2px;
        width: 33.333333333333333%;
    }


    #section_2_rubrik {
        font-size: 28px;
        padding-top: 35px;
        padding-bottom: 15px;
    }

    #section_2_text {
        font-size: 18px;
        padding-left: 130px;
        padding-right: 130px; 
    }

    #grid_wrapper_artister {
        grid-template-rows: 100px 78px 1700px 150px;
        grid-template-areas: 
            "he he"
            "na na"
            "s1 s1"
            "fo fo";
    }

    .artist_lista {
        flex-direction: row;
        justify-content: space-evenly;
        padding: 20px;
    }

    .artist_article {
        flex-direction: column;
        height: 450px;
        width: 40%;
        align-items: center;
        border-radius: 10px;
        background: rgba(0, 0, 0, 0.5);
    }

    .artist_info {
        padding: 10px;
    }

    .artist_half {
        margin-left: 50px;
        margin-right: 50px;
    }

    #grid_wrapper_hitta_hit {
        grid-template-rows: 100px 78px 1000px 150px;
        grid-template-areas: 
            "he he"
            "na na"
            "s1 s1"
            "fo fo";
    }

    #hitta_hit_info {
        flex-direction: row;
    }
    #map_picture {
        width: 650px;
        height: 400px;
    }

    .hitta_hit_info_article {
        padding: 100px;
    }

    #grid_wrapper_erbjudanden {
        grid-template-rows: 100px 78px 1200px 150px;
        grid-template-areas: 
            "he he"
            "na na"
            "s1 s1"
            "fo fo";
    }

    #burger_erbjudande {
        flex-direction: row;
    }

    #shake_erbjudande {
        flex-direction: row;
    }

    .erbjudande_info_text {
        font-size: 20px;
        margin: 0px;
    }
    
 

}
